@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Rubik Burned";
    src: url("Data/fonts/RubikBurned-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "San Francisco", apple-system;
    color: gray;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
        display: flex;
        flex-direction: column;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

main {
    flex-grow: 1;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .2);
}

.main-header {
    background-color: rgba(0,0,0, .6);
    background-image: url(Data/Images/header_image/background_header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 50px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: "Rubik Burned", system-ui;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 4em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    color:black;
    text-align: center;
    font-size: 3em;
    font-weight: solid;
}

.about-band-image {
    float: left;
    height: auto;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: rgb(71, 11, 11);
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    display: flex;
    margin: 1em 5em 1em 5em;
    padding: .75em 1.5em;
    font-size: 1.2em;
    color: white;
    background-color: rgba(206, 32, 32, 0.295);
    border: solid 0.5px rgba(206, 32, 32, .1);
    border-radius: 3em;
}

.btn-header:hover {
    background-color: rgba(206, 32, 32, 0.5);
}

.btn-play {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 2em;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
    color: white;
    background-color: rgba(206, 32, 32, 0.295);
    border: solid 0.5px rgba(206, 32, 32, .1);
    text-align: center;
}

.btn-play:hover {
    background-color: rgba(206, 32, 32, 0.5);
}

.tour-row {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tour-item {
    display: inline-block;
    padding-right: 1em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 28%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    background-color: rgba(35, 64, 226, 0.829);
    color: rgba(255, 255, 255, 0.9);
    border: 4px rgba(35, 64, 226, 0.829);
    border-radius: .4em;
    font-weight:lighter;
}

.btn-primary:hover {
    background-color: rgb(35, 64, 226);
    color: white;
}

.container-grid {
    display: grid;
    gap: 1.5em;
    min-width: 500px;
    margin-bottom: 50px;
}

.music-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.merch-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    padding: 1em 1.5em 1.5em 1.5em;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 3em;
    background-color: rgba(82, 76, 76, 0.075);
}

.item-name {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733);
}

.item-image {
    width: 150px;
    height: auto;
    border-radius: 1em;
}

.container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.item-price {
    font-size: 1em;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.699);
    margin: 0.3em 0 0.3em 0;
}

.cart-header {
    font-weight: lighter;
    font-size: 1.2em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 55%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(41, 39, 39);
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: rgb(41, 39, 39);
    margin-left: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.cart-item-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.btn-danger {
    background-color: rgb(206, 32, 32);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    padding: 6px;
}

.btn-danger:hover {
    background-color: rgb(150, 20, 20);
}

.cart-quantity-input {
    width: 50px;
    padding: 8px;
    font-size: 1em;
    color: black;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    border-radius: .3em;
    margin-right: 20px;
    text-align: center;
}

.cart-row:last-child {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.cart-row:last-child .cart-column {
    border-bottom: none;
}

.cart-total {
    text-align: end;
    margin-top: 20px;
}

.cart-total-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.cart-total-price {
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    margin-right: 30px;
}

.btn-purchase {
    display: block;
    margin: 10px auto 50px auto;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.829);
    color: rgb(0, 0, 0);
    border: solid 1px rgba(35, 64, 226, 0.829);
}